/*.log
/target
/ethlance.iml
/resources/public/contracts/build/*.bin
/resources/public/js/compiled
/resources/public/css
/resources/ethlance.db
/.idea
/.lein-repl-history
/.lein-failures
/.nrepl-port
/node_modules
/dist
/.rebel_readline_history
.node-xmlhttprequest-*
package-lock.json