/*.log
/target
/ethlance.iml
/resources/public/contracts
/resources/public/contracts/build/*.bin
/resources/public/js
/resources/public/js/cljs-runtime/*
/resources/public/css
/resources/ethlance.db
/.idea
/.lein-repl-history
/.lein-failures
/.nrepl-port
/node_modules
/dist
/.rebel_readline_history
.node-xmlhttprequest-*
.DS_Store
smart_contracts_dev.cljs
/designs/node_modules/
/designs/deploy
!/designs/deploy/images
!/designs/deploy/images/*
/resources/public/js/deps_bundle.js
/resources/libs/dist/
/resources/libs/node_modules/
/resources/libs/yarn-error.log
/resources/libs/yarn.lock
ethlance.db
.shadow-cljs
ui/node_modules/
server/node_modules/
.clj-kondo/.cache/
ethlance.zip
server/cljs-runtime/
server/ethlance_server.js
server/yarn-error.log
server/tests/
Session.vim
