.lein-repl-history
.shadow-cljs
node_modules
.cpcache
ui/out/**
server/out/**
server/out-syncer/**
yarn-error.log
ui/resources/public/js
ui/resources/public/css
resources/public/contracts
Session.vim
designs/deploy
tags
temp
release
.clj-kondo
.lsp
.env