{:source-paths ["src" "resources" "src-cljsjs" "test"]
 :dev-http {6500 "resources/public/"}
 :dependencies [[akiroz.re-frame/storage "0.1.4"]
                [binaryage/devtools "0.9.10"]
                [camel-snake-kebab "0.4.1"]
                [cider/cider-nrepl "0.27.2"]
                [cider/piggieback "0.4.1"]
                [cljs-web3 "0.19.0-0-10"]
                [cljsjs/bignumber "4.1.0-0"]
                [cljsjs/buffer "5.1.0-1"]
                [cljsjs/d3 "5.12.0-0"]
                [cljsjs/react-infinite "0.13.0-0"]
                [cljsjs/react-transition-group "4.3.0-0"]
                [com.andrewmcveigh/cljs-time "0.5.2"]
                [com.rpl/specter "1.1.3"]
                [com.taoensso/timbre "4.10.0"]
                [day8.re-frame/forward-events-fx "0.0.6"]
                [day8.re-frame/http-fx "0.1.6"]
                [district0x/async-helpers "0.1.3"]
                [district0x/bignumber "1.0.3"]
                [district0x/cljs-ipfs-http-client "1.0.5"]
                [district0x/cljs-solidity-sha3 "1.0.0"]
                [district0x/district-cljs-utils "1.0.4"]
                [district0x/district-encryption "1.0.1"]
                [district0x/district-format "1.0.8"]
                [district0x/district-parsers "1.0.0"]
                [district0x/district-sendgrid "1.0.1"]
                [district0x/district-time "1.0.1"]
                [district0x/district-ui-component-active-account "1.0.1" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-component-active-account-balance "1.0.1" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-component-form "0.2.13" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-component-input "1.0.0" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-component-notification "1.0.0" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-component-tx-button "1.0.0" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-ipfs "1.0.1" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-logging "1.1.0" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-notification "1.0.1" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-now "1.0.2" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-reagent-render "1.0.1" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-router "1.0.7" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-router-google-analytics "1.0.1" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-smart-contracts "1.0.8" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-web3 "1.3.2" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-web3-account-balances "1.0.2" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-web3-accounts "1.0.7" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-web3-balances "1.0.2" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-web3-sync-now "1.0.3-2" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-web3-tx "1.0.12" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-web3-tx-id "1.0.1" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-web3-tx-log "1.0.13" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-ui-window-size "1.0.1" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-validation "1.0.0" :exclusions [cljsjs/react-with-addons reagent com.cognitect/transit-js]]
                [district0x/district-web3-utils "1.0.3"]
                [district0x/error-handling "1.0.4"]
                [district0x/graphql-query "1.0.6"]
                [district0x/district-graphql-utils "1.0.10"]
                [district0x/district-ui-graphql "1.0.13"]
                [cljsjs/apollo-fetch "0.7.0-0"]
                [cljsjs/graphql "0.13.1-0"]
                [district0x/re-frame-ipfs-fx "1.1.1"]
                [expound "0.8.4"]
                [flib/simplebar "5.0.7-SNAPSHOT"]
                [funcool/cuerdas "2.2.0"]
                [medley "1.3.0"]
                [mount "0.1.16"]
                [orchestra "2019.02.06-1"]
                [org.clojars.mmb90/cljs-cache "0.1.4"]
                [org.clojure/core.match "1.0.0"]
                [org.clojure/tools.reader "1.3.6"]
                [print-foo-cljs "2.0.3"]
                [re-frame "0.12.0"]
                [re-frisk "1.3.4"]
                [reagent "0.10.0"]
                [refactor-nrepl "2.5.0"]

                [district0x/district-graphql-utils "1.0.10"]
                [district0x/district-server-config "1.0.1"]
                [district0x/district-server-db "1.0.4"]
                [district0x/district-server-logging "1.0.6"]
                [district0x/district-server-middleware-logging "1.0.0"]
                [district0x/district-server-smart-contracts "1.2.8"]
                [district0x/district-server-web3 "1.2.6"]
                [district0x/district-server-web3-events "1.1.10"]]

 :nrepl {
         :middleware [cider.piggieback/wrap-cljs-repl
                      refactor-nrepl.middleware/wrap-refactor]
         :port 54872}

 :http {:port 3449
        :host "0.0.0.0"}

 :builds {:dev-ui
          {:target :browser
           :modules {:main {:init-fn ethlance.ui.core/init}}
           :main ethlance.ui.core
           :infer-externs true
           :js-options {:js-package-dirs ["./ui/node_modules"]}
           :npm-deps false
           :output-dir "resources/public/js/"
           :optimizations :none
           :source-map true
           :source-map-timestamp true
           :devtools {:ignore-warnings true}
           :preloads [devtools.preload
                      re-frisk.preload]
           :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true
                             goog.DEBUG true}}

          :dev-server
          {:target :node-script
           :main ethlance.server.core/-main
           :js-options {:js-package-dirs ["./server/node_modules"]}
           :output-dir "server/"
           :output-to "server/ethlance_server.js"
           :optimizations :none
           :source-map true
           :source-map-timestamp true
           :closure-defines {goog.DEBUG true}}

          :server-tests
          {:target :node-test
           :js-options {:js-package-dirs ["./server/node_modules"]}
           :output-dir "server/tests"
           :output-to "server/tests/server-tests.js"
           :ns-regexp "tests."
           :optimizations :none
           ;; needs to be set to false to report correct status code in CI
           :autorun false
           :closure-defines {goog.DEBUG true}}}}
