{:linters {:single-key-in {:level :error}
           :unsorted-required-namespaces {:level :off}
           :unresolved-symbol {:exclude [(mount.core/defstate)
                                         (cljs.core.match/match)
                                         (district.server.async-db/with-async-resolver-conn [conn])
                                         (district.server.async-db/with-async-resolver-tx [conn])]}
           :lint-as {mount.core/defstate clojure.core/def}}}
