version: 2.1

orbs:
  slack: circleci/slack@3.4.2

jobs:

  test:
    working_directory: ~/ethlance
    docker:
      # Primary container image where all steps run.
      - image: district0x/cljs-dev
      # Secondary container images on common network.
      - image: trufflesuite/ganache-cli:v6.9.1
        command: [-d, -m district0x, -p 8549, -l 8000000, --noVMErrorsOnRPCResponse]
      - image: district0x/ipfs-daemon:latest
      - image: postgres:latest
        environment:
          POSTGRES_PASSWORD: pass
          POSTGRES_USER: user
          POSTGRES_DB: ethlance
    steps:
      - checkout
      - restore_cache:
          name: Restore m2 package cache
          keys:
            - maven-dependencies-{{ checksum "project.clj" }}
            # fallback to using the latest cache if no exact match is found
            - maven-dependencies-
      - run: lein deps
      - save_cache:
          name: Save m2 package cache
          paths:
            - ~/.m2
          key: maven-dependencies-{{ checksum "project.clj" }}
      - restore_cache:
          name: Restore npm package cache
          keys:
            - npm-dependencies-{{ checksum "yarn.lock" }}
      - run:
          name: Install node modules
          command: yarn deps
      - save_cache:
          name: Save npm package cache
          key: npm-dependencies-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
      - run:
          name: Lint projects namespaces
          command: yarn lint
      - run: env ETHLANCE_ENV=dev npx truffle migrate --network ganache --reset
      - run: lein doo node "test-server" once
      - slack/status:
          channel: travis-ci
          mentions: $CIRCLE_USERNAME

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - test:
          context: district0x
