/// devcard.less - Styling for devcard landing page


.page-devcard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
}


.devcard-header {
    padding: 1em;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
}
