/// employers.less -- Main layout for the 'employer listing' page

#employers() {
  .search-filter-content {
    > .category-selector , > .country-selector {
      margin: 1.5em 0;
    }

    > .rating-label , > .selection-label {
      padding: 1em;
      color: white;
      font-weight: bold;
    }

    > .ethlance-component-rating {
      padding: 1em;
      padding-top: 0;
    }

    > .currency-input {
      padding-right: 0.5em;
    }

    > .feedback-input {
      padding: 1em;
      > .ethlance-text-input {
        padding: 0.5em 0;
      }
    }
  }
}

.employers-main-container {
  #mixin.main-container();

  > .search-filter {
    #mixin.main-container.search-filter();
    #employers.search-filter-content();
  }

  > .mobile-search-filter {
    > .content {
      #jobs.search-filter-content();
    }
  }

  > .listing {
    #mixin.main-container.listing();

    > .search-container {
      > .ethlance-chip-search-input {

        margin: 2em;
        max-width: 100vw;
        
        @media #media[tablet-query] {
          margin: 1.5em;
        }

        @media #media[mobile-query] {
          margin: 0.0em;
        }
      }
    }

    > .employer-element {
      #mixin.box-shadow.item-inset();
      display: grid;
      grid-template-areas:
      'profile  price'
      'tags     tags'
      'rating   rating'
      'location location';
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(4, auto);
      min-height: 100px;
      padding: 2em;
      grid-column-gap: 1em;

      > .profile {
        grid-area: profile;
        display: grid;
        grid-template-areas:
        'profile-image name'
        'profile-image title';
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(2, auto);

        > .profile-image {
          grid-area: profile-image;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        > .name {
          grid-area: name;
          font-size: 1.8em;
          font-weight: 400;
          padding: 0.5em;
        }

        > .title {
          grid-area: title;
          padding: 0.7em;
          padding-left: 0.9em;
        }
      }

      > .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-area: tags;
        margin: 1em 0;
        > .ethlance-tag {
          cursor: pointer;
          margin-right: 1em;
          margin-bottom: 0.5em;
        }
      }

      > .rating {
        grid-area: rating;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0.5em 0;
        > .label {
          padding-left: 0.5em;
          font-weight: 400;
          font-size: 1.1em;
        }
      }

      > .location {
        grid-area: location;
        margin: 0.5em 0;
      }
    }
  }
}
