/// invoice-detail.less --- Styling for Invoice Detail Page

.invoice-detail-main-container {
  #mixin.paper-1();
  display: grid;
  grid-template-areas:
    'title     status'
    'sub-title sub-title'
    'left      right'
    'button    button';
  grid-template-columns: 3fr 4fr;
  grid-template-rows: auto auto auto 40px;
  grid-column-gap: 6em;

  @media #media[tablet-query] {
    grid-template-areas:
      'title     status'
      'sub-title sub-title'
      'left      left'
      'right     right'
      'button    button';
    grid-template-columns: auto minmax(120px, auto);
    grid-template-rows: repeat(5, auto) 40px;
    margin-bottom: 4em;
  }

  > .title {
    grid-area: title;
    font-size: 2.2em;
    font-weight: 500;
    padding: 0.5em 1.2em;
    padding-top: 1em;
    padding-right: 0;

    @media #media[mobile-query] {
      padding-left: 0.5em;
    }
  }

  > .sub-title {
    grid-area: sub-title;
    display: flex;
    font-weight: 300;
    text-decoration: underline;
    padding: 0.5em 2.7em;

    @media #media[tablet-query] {
      font-size: 1.5em;
      padding-right: 0;
      padding-left: 1.0em;
    }

    @media #media[mobile-query] {
      font-size: 1.2em;
      padding-left: 1em;
    }
  }

  > .invoice-status {
    display: flex;
    grid-area: status;
    align-items: flex-start;
    justify-content: flex-end;

    > .label {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-grow: 0;
      background-color: #color[offwhite3];
      border-radius: 5px;
      font-weight: 300;
      font-size: 0.8em;
      padding: 1.2em 1.5em;
      margin: 1em;
      margin-top: 1.5em;

      @media #media[tablet-query] {
        padding: 0.8em 1.0em;
      }
    }
  }

  > .left {
    grid-area: left;
    display: flex;
    flex-direction: column;
    padding: 3em 0 3em 3em;

    @media #media[tablet-query] {
      padding: 1.5em;
    }

    > .profile {
      display: grid;
      grid-template-areas:
        'label         label'
        'profile-image name'
        'profile-image rating'
        'profile-image location';
      grid-template-columns: auto 1fr;
      grid-template-rows: repeat(4, auto);
      margin: 1em 0;

      &:first-child {
        margin-top: 0;
        
        > .label {
          margin-top: 0;
        }
      }

      > .label {
        grid-area: label;
        font-size: 1.2em;
        font-weight: 600;
        border-bottom: 1px solid fade(#color[dark-blue], 20%);
        padding: 0.5em 0;
        margin: 1em 0;
      }

      > .ethlance-profile-image {
        grid-area: profile-image;
        display: flex;
        align-items: center;
        margin: 2em;
        margin-left: 1.5em;
      }

      > .name {
        grid-area: name;
        padding: 0.5em 0;
        font-weight: 600;
      }

      > .rating {
        display: flex;
        align-items: center;
        grid-area: rating;
        padding: 0.5em 0;
        
        > .num-feedback {
          font-size: 1.2em;
        }
      }

      > .location {
        grid-area: location;
        padding: 0.5em 0;
      }
    }
  }

  > .right {
    grid-area: right;
    display: flex;
    flex-direction: column;
    padding: 3em 3em 3em 0;

    @media #media[tablet-query] {
      padding: 1.5em;
      padding-top: 0;
    }
  }

  > .button {
    grid-area: button;
    display: flex;
    transition: all 0.1s;
    justify-content: center;
    align-items: center;
    background-color: #color[purple];
    color: white;
    height: 50px;
    width: 100%;
    font-weight: 700;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &:hover {
      background-color: #color[dark-blue];
    }

    > .ethlance-icon {
      padding-left: 0.5em;
    }
  }
}
