/// jobs.less -- Main layout for the 'job listing' page

// main layout content container

#jobs() {
  .search-filter-content {
    > .category-selector {
      margin: 1.5em 0;
    }

    > .rating-label , > .selection-label {
      padding: 1em;
      color: white;
      font-weight: bold;
    }

    > .ethlance-component-rating {
      padding: 1em;
      padding-top: 0;
    }

    > .currency-input {
      padding: 1em;
    }
  }
}

.jobs-main-container {
  #mixin.main-container();

  > .job-search-filter {
    #mixin.main-container.search-filter();
    #jobs.search-filter-content();
  }

  > .mobile-search-filter {
    > .content {
      #jobs.search-filter-content();
    }
  }

  > .job-listing {
    #mixin.main-container.listing();

    > .ethlance-chip-search-input {
      margin: 2em;
    }

    > .job-element {
      display: grid;
      //height: 450px;
      grid-template-areas:
      'title          details'
        'description    details'
        'date           details'
        'tags           details'
        'users          users';
      grid-template-rows: 3em 3fr 3em 3em 5fr;
      grid-template-columns: minmax(3fr, 4fr) minmax(1fr, 4fr);
      padding: 2em;
      box-shadow: 0px 20px 1rem 0.25rem rgba(75, 63, 182, .05) inset;

      @media #media[mobile-query] {
        grid-template-areas:
        'title'
        'description'
        'date'
        'tags'
        'users'
        'details';
        grid-template-rows: 3em 3fr 3em 3em 5fr auto;
        grid-template-columns: 1fr;
      }

      > .title {
        display: flex;
        align-items: center;
        grid-area: title;
        font-size: 2em;
        font-weight: 500;
      }

      > .description {
        margin: 1em 0;
        margin-right: 0.5em;
        grid-area: description;
        line-height: 1.4em;
        @media #media[desktop-query] {
          font-size: 0.9em;
        }
      }

      > .date {
        grid-area: date;
        font-weight: 200;
        font-size: 0.9em;
        margin: 0.5em 0;
      }

      > .tags {
        grid-area: tags;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.3em 0;
        > .ethlance-tag {
          margin: 0 0.5em 0.3em 0;
        }
      }

      > .users {
        grid-area: users;
        display: flex;
        flex-direction: row;
        margin: 2em 1em;

        > .user-detail {
          position: relative;
          display: grid;
          margin-right: 2em;
          grid-template-areas:
          'name     name'
            'rating   rating-label'
            'location location';
          
          > .name {
            display: flex;
            align-items: flex-end;
            grid-area: name;
            font-weight: 700;
          }

          > .ethlance-rating {
            grid-area: rating;
          }

          > .rating-label {
            display: flex;
            align-items: center;
            grid-area: rating-label;
          }

          > .location {
            grid-area: location;
          }

          // FIXME: arbiter logo not showing
          > .ethlance-inline-svg {
            position: absolute;
            top: 1.5em;
            left: -1.5em;
            width: 16px;
            height: 16px;
            path {
              opacity: 1; /* for some reason, some of the SVGs have opacity:0 */
            }
          }
        }
      }

      > .details {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 1em;
        grid-area: details;
        
        @media #media[mobile-query] {
          align-items: center;
        }
        
        > .job-detail-table {
          display: grid;
          grid-template-columns: 1fr 1fr;
          
          @media #media[desktop-query] {
            font-size: 0.9em;
          }

          @border-attr: 1px solid fadeout(#color[dark-blue], 85%);
          > .name , > .value {
            border-top: @border-attr;
            padding: 1.2em 0;
            &:last-child , &:nth-last-child(2) {
              border-bottom: @border-attr;
            }
          }

          > .name {
            font-weight: 700;
          }

          > .value {
            text-align: right;
          }
        }
      }
    }
  }
}
