/// me.less -- My Activity (me) page styling


.me-main-container {
    @tab-height: #tabular-layout[tab-height];

    display: grid;
    grid-template-areas:
      '.       tab'
      'sidebar tab';
    grid-template-rows: @tab-height 1fr;
    grid-template-columns: 200px 1fr;
    background-color: transparent;
    min-height: 100%;
    margin-bottom: 8em;

    > .sidebar {
        grid-area: sidebar;
	display: flex;
	flex-direction: column;
        background-color: @color-purple;
        color: white;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
	padding: 2em;

	.label {
	  color: white;
	  font-weight: 700;
	  padding: 1.0em 0;
	}

	a {
	  padding: 0.7em 0;
	}

	hr {
	  @hr-color: fadeout(darken(@color-purple, 20%), 80%);
	  border: 1px solid @hr-color;
	  margin: 1em 0;
	}
    }

    > .tabular-layout {
        grid-area: tab;
        > .active-page {
            > .invitations-tab {
                
            }
        }
    }
}
