/// me.less -- My Activity (me) page styling


.me-main-container {
    background-color: transparent;
    min-height: 100%;
    margin-bottom: 8em;

    > .tabular-layout {
        > .active-page {
            > .invitations-tab {
                
            }
        }
    }
}
