/// sign-up.less -- Main styling for sign-up page





.sign-up-main-container {
    @border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    > .tabular-layout > .active-page {
        > .candidate-sign-up {
            display: flex;
            flex-direction: column;
            > .form-container {
                margin: 4em;
                border-top-right-radius: @border-radius;

                > .label {
                    color: @color-dark-blue;
                    font-size: 2.0em;
                }
                
                > .first-forms {
                    display: grid;
                    grid-template-areas:
                      'form-image form-name    form-professional-title form-professional-title'
                      'form-image form-email   form-hourly-rate        form-hourly-rate'
                      'form-image form-country form-connect-github     form-connect-linkedin';
                    grid-template-rows: 1fr 1fr 1fr;
                    grid-template-columns: 2fr 4fr 3fr 3fr;
                    grid-gap: 2em;

                    > .ethlance-text-input, > .ethlance-email-input {
                        line-height: 0.5em;
                    }

                    > .form-image {
                        grid-area: form-image;
                    }

                    > .form-name {
                        grid-area: form-name;
                    }

                    > .form-email {
                        grid-area: form-email;
                    }

                    > .form-professional-title {
                        grid-area: form-professional-title;
                    }

                    > .form-hourly-rate {
                        grid-area: form-hourly-rate;
                    }

                    > .form-country {
                        grid-area: form-country;
                    }

                    > .form-connect-github {
                        grid-area:  form-connect-github;
                    }

                    > .form-connect-linkedin {
                        grid-area: form-connect-linkedin;
                    }
                }
                
                > .second-forms {
                    > .label {
                        h2 {
                            display: inline-block;
                            font-weight: 700;
                            padding: 0.7em 0;
                            padding-right: 0.5em;
                        }
                        
                        i {
                            font-style: italic;
                            font-weight: 300;
                        }
                    }

                    > .ethlance-chip-search-input {
                        margin: 0.5em 0;
                    }
                }
            }
            > .form-submit {
                background-color: @color-purple;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                height: 50px;
                border-bottom-left-radius: @border-radius;
                border-bottom-right-radius: @border-radius;
                cursor: pointer;
                transition: background-color 0.05s ease-in;

                &:hover {
                    background-color: @color-dark-blue;
                }
            }
        }
    }
}
