/// color-palette.less - Main Ethlance Color Palette

@color-primary: #2C398F; // Dark Blue
@color-secondary: #6352E3; // Light Purple
@color-primary-accent: #00E4FF; // Teal
@color-secondary-accent: #F56A45; // Orange Peach
@color-background-light: #FCFCFE; // Offwhite Grey
@color-background-dark: @color-primary;
@color-background-light-accent-1: #D8D5F7; // Light Purple
@color-background-light-accent-2: #F7F8FE; // Light Grey
