/// button.less - Ethlance Button Component Styling


#ethlance-button() {
    text-color-primary: #color[background-light-accent-2];
    background-primary: #color[secondary];
    background-secondary: #color[primary];
    text-color-disabled: desaturate(#color[secondary], 50%);
    width: 200px;
    height: 50px;
    border-radius: 5px;
    fade-duration: 0.1s;
}


.button {
    @fade-duration: #ethlance-button[fade-duration];

    #mixin.noselect(); // remove text selection
    display: inline;
    cursor: pointer;
    width: #ethlance-button[width];
    height: #ethlance-button[height];
    background-color: #ethlance-button[background-primary];
    border-radius: #ethlance-button[border-radius];
    overflow: hidden;
    transition: color @fade-duration, background-color @fade-duration;

    // Shadows
    //-webkit-box-shadow: 0px 0px 20px -2px #ethlance-button[background-primary];
    //box-shadow: 0px 0px 20px -2px #ethlance-button[background-primary];

    > .button-label {
	#mixin.noselect();
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	color: #ethlance-button[text-color-primary];
	transition: color @fade-duration, background-color @fade-duration;
    }

    > .button-icon-label {
        #mixin.noselect();
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        overflow: hidden;
        background-color: #color[purple];
        border-radius: #ethlance-button[border-radius];
	transition: all @fade-duration, background-color @fade-duration;

        > .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 48px;
            flex-grow: 0;
            flex-shrink: 0;
            height: 100%;
            background-color: #color[dark-blue];
        }

        > .label {
            flex-grow: 1;
            text-align: center;
            color: white;
            font-weight: 700;
            text-align: center;
            font-size: 0.9em;
            line-height: 1.2em;
            padding: 0 0.5em;
        }
    }

    &:hover {
	@hover-color: darken(#ethlance-button[text-color-primary], 10%);
	color: @hover-color;

	> .button-label {
	    color: @hover-color;
	}

        > .button-icon-label {
            background-color: #color[dark-blue];
            > .icon {
                background-color: #color[purple];
            }

            > .label {
                color: @hover-color;
            }
        }
    }

    &:active {
	@active-color: darken(#ethlance-button[text-color-primary], 20%);
	color: @active-color;

	> .button-label {
	    color: @active-color;
	}
    }

    &.secondary {
	background-color: #ethlance-button[background-secondary];
	
	// Shadows
	@shadow-color: #ethlance-button[background-secondary];
	//-webkit-box-shadow: 0px 0px 20px -2px @shadow-color;
	//box-shadow: 0px 0px 20px -2px @shadow-color;
    }

    &.disabled {
	opacity: 0.7;
	color: #ethlance-button[text-color-disabled];
	background-color: rgba(0,0,0,0.0);
	-webkit-box-shadow: none;
	box-shadow: none;

	> .button-label {
	    color: #ethlance-button[text-color-disabled];
	}
    }

    &.active {
	@background-color: lighten(#ethlance-button[background-primary], 20%);

	background-color: @background-color;
	//-webkit-box-shadow: 0px 0px 20px -2px @background-color;
	//box-shadow: 0px 0px 20px -2px @background-color;

	&.secondary {
	    @background-color: lighten(#ethlance-button[background-secondary], 20%);
	    background-color: @background-color;
	    //-webkit-box-shadow: 0px 0px 20px -2px @background-color;
	    //box-shadow: 0px 0px 20px -2px @background-color;
	}
    }

    &.large {
	width: #ethlance-button[width] * 1.5;
    }

    &.small {
	width: #ethlance-button[width] * 0.7;
    }

    &.auto {
	width: auto;
    }
}
