// currency-input.less -- For inputing particular types of currency in the form of an input text field.


.currency-input {
    display: flex;
    align-items: center;
    flex-direction: row;

    > input[type="text"] {
        background-color: transparent;
        width: 80%;
        color: white;
        outline: none;
        border: none;
        padding: 5px 5px 5px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    > span {
        color: white;
        padding: 5px;
    }
}
