/// main-layout.less - Ethlance main layout for the SPA


.main-layout {
    background-image: url("../images/background_splash1.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 200px 200px;
    min-height: 100%;
    display: grid;
    grid-template-areas:
      'navigation-bar  navigation-bar'
      'navigation-menu content'
      'footer          footer';
    grid-template-rows: 4.5em 1fr 7em;
    grid-template-columns: 1fr 5fr;

    .main-navigation-bar {
        grid-area: navigation-bar;
    }

    @header-margin: 3em;

    .main-navigation-menu {
        margin-top: @header-margin;
        grid-area: navigation-menu;
    }

    .content {
        margin-top: @header-margin;
        margin-right: 1.2em;
        grid-area: content;
        
        // FIXME: remove in favour of applying to inner content
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(44, 57, 143, 0.05) 0px 0px 32px 8px;
    }

    .footer {
        grid-area: footer;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 12em 2em 2em;

        .copyright {
            font-size: 0.8em;
            font-weight: 300;
        }

        .social {
            display: flex;
            flex-direction: row;

            .ethlance-circle-button {
                margin: 0 0.5em;
            }
        }

    }
}
