/// rating.less - Component for Feedback ratings with 5-stars

#ethlance-component-rating {
    primary-color: #color[secondary-accent];
    secondary-color: #color[background-light-accent-1];
			 
}

.ethlance-component-rating {
    display: flex;
    flex-direction: row;

    .star {

	#star {
	    cursor: pointer;
	}
        
        /* Apply currently set @fill-color to svg elements */
        .apply-fill-color() {
	    path, rect, circle {
		fill: fadeout(@fill-color, 85%) !important;
	    }

	    &.active {
		path, rect, circle {
		    fill: @fill-color !important;
		}
	    }
        }

	&.primary {
	    @fill-color: #ethlance-component-rating[primary-color];
            .apply-fill-color();
	}

	&.white {
	    @fill-color: #ethlance-component-rating[secondary-color];
            .apply-fill-color();
	}

	&.black {
	    @fill-color: black;
            .apply-fill-color();
	}

        &.small {
            
        }
	
        &.large {
            
        }
    }
}
