/// scrollable.less -- Styling for scrollable component

.scrollable {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  > .container {
    position: relative;
    grid-area: fill;
    min-width: 100%;
    min-height: 100%;
  }

  > .scroll-bar-x , > .scroll-bar-y {
    display: none;
    position: absolute;
    grid-area: fill;
    background-color: #color[offwhite2];
  }

  @scroll-bar-width: 16px;
  @scroll-bar-height: 16px;

  > .scroll-bar-x {
    bottom: 0;
    left: 0;
    right: 0;
    height: @scroll-bar-height;
  }

  > .scroll-bar-y {
    right: 0;
    top: 0;
    bottom: 0;
    width: @scroll-bar-width;
  }

  &.fixed-width {
    > .container {

    }

    > .scroll-bar-x {
      display: initial;
    }
  }

  &.fixed-height { 
    > .container {

    }
    
    > .scroll-bar-y {
      display: initial;
    }
  }

  &.fixed-width.fixed-height { 
    > .scroll-bar-x {
      right: @scroll-bar-width;
    }
    
    > .scroll-bar-y {
      bottom: @scroll-bar-height;
    }
  }
}
