/// search-input.less -- Styling for search input


.ethlance-chip-search-input {
    @search-size: 60px;

    display: grid;
    height: @search-size;
    grid-template-columns: 1fr @search-size;
    grid-template-rows: 1fr;
    margin: 2.0em;

    > .search-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: #e8eefe;

        > .chip-listing {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        > .search-input {
            font-size: 1.5em;
            flex-grow: 1;
            background-color: transparent;
            border: none;
            padding-left: 0.5em;
	    outline: none;
        }
    }

    > .search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: @color-purple;
    }
}

.ethlance-chip {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 0.5em 1.0em;
    margin: 0.7em 0.3em;
    border-radius: 5px;

    > .label {
        padding-right: 0.5em;
    }

    > .close-button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 3px;
        margin: 3px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #dfeefc;
	transition: 0.3s all ease-out;

	&:hover {
	  color: white;
	  background-color: @color-dark-blue;
	}

	> .ethlance-icon {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
    }
}
