/// select-input.less -- Styling for ethlance select-input component


.ethlance-select-input {
  @input-height: 3em;
  // Max height of the select-input dropdown
  @max-container-height: 6 * @input-height;

  position: relative;
  > .main {
    #mixin.input.text();
    #mixin.noselect();
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: @input-height;
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0.5em;
    transition: all 0.05s ease-in;

    .ethlance-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      padding: 0 0.5em;
      margin: 0 0.5em;
      width: 32px;
      height: 32px;
    }

    &:hover {
      background-color: lighten(white, 3%);
    }
  }

  > .dropdown {
    position: absolute;
    z-index: 999;
    left: 0;
    top: @input-height;
    width: 100%;
    overflow-x: none;
    overflow-y: none;

    > .search-bar {
      display: grid;
      grid-template-columns: 1fr 3em;
      height: @input-height;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);

      input {
        #mixin.input.text();
        font-style: italic;
        width: 100%;
        padding: 0 0.5em;
        border: none;
      }

      > .ethlance-icon {
        #mixin.noselect();
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    > .selection-listing {
      overflow-x: none;
      overflow-y: auto;
      max-height: @max-container-height;

      > .selection {
        #mixin.noselect();
        display: flex;
        z-index: 999;
        align-items: center;
        background-color: white;
        border-bottom: 1px solid #d6e1fd;
        height: @input-height;
        padding-left: 0.5em;
        cursor: pointer;

        &:hover {
	  background-color: #d6e1fd;
        }
      }
    }
  }

  &.secondary {
    @border-attr: 2px solid desaturate(#color[light-purple], 15%);

    > .main {
      color: white;
      background-color: #color[light-purple];
      border-bottom: @border-attr;
      border-radius: 3px;

      &:hover {
        color: lighten(white, 3%);
      }
    }

    .ethlance-icon {
      background-color: #color[purple];
    }

    > .dropdown {
      > .selection-listing {
        > .selection {
          background-color: #color[light-purple];
          color: white;
          border-bottom: @border-attr;

          &:hover {
	    color: black;
          }
        }
      }
    }
  }
}
