/// select-input.less -- Styling for ethlance select-input component


.ethlance-select-input {
  @input-height: 3em;

  position: relative;
  > .main {
    #mixin.input.text();
    #mixin.noselect();
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: @input-height;
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;

    .icon {

    }

    &:hover {
        background-color: lighten(white, 3%);
    }
  }

  > .dropdown {
    position: absolute;
    z-index: 999;
    left: 0;
    top: @input-height;
    width: 100%;
    > .selection {
      #mixin.noselect();
      display: flex;
      z-index: 999;
      align-items: center;
      background-color: white;
      border-bottom: 1px solid #d6e1fd;
      height: @input-height;
      padding-left: 0.5em;
      cursor: pointer;

      &:hover {
	background-color: #d6e1fd;
      }
    }
  }

  &.secondary {
      > .main {
          color: white;

          &:hover {
              background-color: lighten(@color-light-purple, 3%);
          }
      }

      > .dropdown {
          > .selection {
              background-color: @color-light-purple;
              color: white;
          }
      }
  }
}
