/// splash-layout.less - Ethlance Main landing page splash layout


.splash-layout {
    min-height: 100%;
    width: 100%;
    background-color: #color[background-light];
    .header {
	position: fixed;
	width: 100%;
	padding: 2% 0;
    }

    .main-content {
	min-height: 100%;
	width: 100%;
	padding: 0 50px 0 50px;

	/* BANNER SECTION */
	.banner {
	    padding-top: 6rem;
	    display: flex;
	    flex-direction: row;
	    justify-content: center;
	    align-items: center;

	    .part-text {
		flex-basis: 50%;
		h2 {
		    font-size: 4.2rem;
		    font-weight: 700;
		    color: @color-dark-blue;
		    margin-bottom: 1.7rem;
		    line-height: 6rem;
		}

		&>span {
		    display: block;
		    color: @color-purple;
		    font-size: 1.2rem;
		    padding-bottom: 2rem;
		}

		.button-listing {
		    display: flex;
		    flex-direction: row;
		    .button {
			padding: 0 0.5rem 0 0.5rem;
			margin: 0 1rem 0 0;
			b {
			    font-weight: 700;
			}
		    }
		}
	    }
	    .part-figure {
		flex-basis: 50%;
	    }
	}

	/* WELCOME TO SECTION */
	.welcome {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    
	    h2 {
		font-size: 1.6rem;
		color: @color-purple;
	    }

	    h3 {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 0.8rem;
		//color: @color-gray;
		color: rgba(175, 167, 240, 0.5);
		margin-bottom: 1rem;
	    }

	    .box-listing {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-around;

		.box-ball {
		    width: 29%;

		    .vertical-box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			padding: 7.5% 25%;

			figure {
			    width: 5rem;
			    height: 5rem;

			    img {
				object-fit: contain;
			    }
			}
		    }
		}
	    }
	}
    }
}
