/// splash-layout.less - Ethlance Main landing page splash layout

//
// Splash Layout Mixins
//

#splash-layout() {
  max-desktop-width: 1200px;

  .section() {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 4.5rem;
    font-size: 1.5rem;
    font-weight: 500;

    h3 {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.8rem;
      color: rgba(175,167,240,.5);
      margin-bottom: 1rem;
    }

    h2 {
      color: #color[purple];
    }
  }
}

.splash-layout {
  min-height: 100%;
  width: 100%;
  background-color: #color[background-light];
  > .header {
    position: fixed;
    z-index: 9001;
    width: 100%;
    padding: 2% 0;
    transition: all 0.2s;

    @media #media[mobile-query] {
      display: none;
    }
  }

  > .mobile-header {
    position: fixed;
    z-index: 9001;
    width: 100%;
    display: none;
    background-color: #color[dark-blue];

    @media #media[mobile-query] {
      display: flex;
    }
  }

  > .main-content {
    min-height: 100%;
    width: 100%;
    margin: 0 auto;

    @media #media[tablet-query] {
      padding: 0 25px;
    }

    @media #media[mobile-query] {
      padding: 0 0.5em;
    }

    /* BANNER SECTION */
    > .banner {
      display: grid;
      grid-template-areas:
      'banner-header banner-figure'
        'banner-footer .';
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, auto);
      padding-top: 10em;
      padding-bottom: 4.5em;
      max-width: #splash-layout[max-desktop-width];
      margin: 0 auto;


      @media #media[tablet-query] {
        padding-top: 6em;
        grid-template-areas:
        'banner-header'
          'banner-figure'
          'banner-footer';
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
      }

      @media #media[mobile-query] {

      }

      > .banner-header {
        position: relative;
        grid-area: banner-header;

        @media #media[tablet-query] {
          padding: 0.5em;
        }

        > h2 {
          font-size: 5rem;
          font-weight: 700;
          color: #color[dark-blue];
          padding-bottom: 0.7em;
          line-height: 6rem;

          @media #media[tablet-query] {
            font-size: 4.5em;
            line-height: 1.2em;
          }

          @media #media[mobile-query] {
            font-size: 3em;
          }
        }

        > span {
          display: block;
          color: #color[purple];
          font-size: 1.45em;
          padding-bottom: 2.5em;

          @media #media[tablet-query] {
            font-size: 1.4em;
          }

          @media #media[mobile-query] {
            font-size: 1.3em;
          }
        }

        > .button-listing {
          display: flex;
          flex-direction: row;
          font-size: 0.9rem;
          justify-content: space-around;

          @media #media[tablet-query] {

          }

          @media #media[mobile-query] {
            justify-content: space-between;
          }

          > .button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: 75px;
            max-width: 150px;
            margin: 0 0.7em;
            transition: 0.3s all ease-out;

            @media #media[tablet-query] {
              height: 60px;
              min-width: 110px;
              max-width: 140px;
            }

            @media #media[mobile-query] {
              min-width: 90px;
              max-width: 110px;
              font-size: 0.7rem;
              margin: 0 0.7em;
            }

            .button-label {
              cursor: pointer;
              display: flex;
              flex-direction: column;
              line-height: 1.3em;
              padding: 1.5em;
              text-align: center;
            }

            b {
              font-weight: 700;
            }

            &:first-child, &:last-child {
              margin: 0;
            }
          }
        }
      }

      > .banner-figure {
        display: flex;
        grid-area: banner-figure;
        justify-content: center;
        align-items: center;

        @media #media[tablet-query] {
          margin: 1em 0;
        }

        @media #media[mobile-query] {

        }

        > figure {
          position: relative;
          margin: 1em;

          > .home-dialog-base {

          }

          > .home-dialog-1 {
            position: absolute;
            width: 7.25%;
            top: 32.75%;
            left: 10.5%;
            animation-delay: 0s;
          }

          > .home-dialog-2 {
            position: absolute;
            width: 7.25%;
            top: 18.5%;
            left: 22.1%;
            animation-delay: 1.5s;
          }

          > .home-dialog-3 {
            position: absolute;
            width: 7.25%;
            top: 15.5%;
            right: 15.75%;
            animation-delay: 1.1s;
          }

          > .home-dialog-4 {
            position: absolute;
            width: 7.25%;
            top: 39%;
            right: 11.1%;
            animation-delay: 2.5s;
          }
        }
      }

      > .banner-footer {
        display: flex;
        grid-area: banner-footer;
        flex-direction: column;
        font-family: #font[sans-serif];
        margin-top: 6em;
        font-size: 0.74rem;

        @media #media[tablet-query] {
          margin: 1em 0;
        }

        @media #media[mobile-query] {
          padding-left: 1em;
        }

        > .img-district {
          position: relative;
          width: 6.3rem;
          margin-bottom: 1.2rem;
        }

        > p {
          color: #color[gray];
          opacity: 0.9;
          margin-bottom: 0.8rem;
        }

        > a {
          color: #color[gray];
          opacity: 0.9;
          text-decoration: underline;
        }
      }
    }

    /* WELCOME TO SECTION */
    > .welcome {
      #splash-layout.section();

      position: relative;
      @border-color: fade(#color[gray], 5%);
      display: flex;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid @border-color;
      border-bottom: 1px solid @border-color;
      overflow: hidden;
      padding-bottom: 8em;

      &:after {
        content: '';
        width: 146%;
        height: 16rem;
        left: -22.5%;
        bottom: -10%;
        position: absolute;
        background-image: url(../images/svg/opacity-logo.svg);
        background-size: 58%;
        background-repeat: no-repeat;
        background-position: center center;
      }

      > .box-listing {
        margin-top: 7.4rem;
        display: grid;
        width: 100%;

        grid-template-rows: 200px;
        grid-template-columns: 1fr 2em 1fr 2em 1fr;

        @media #media[tablet-query] {
          grid-template-rows: 1fr 4em 1fr 4em 1fr;
          grid-template-columns: 1fr;
          max-width: 320px;
        }

        > .box-ball {
          @ball-margin-offset: 2.5em;
          position: relative;

          @media #media[tablet-query] {
            margin: 0 0.5em;
          }

          &:before {
            content: '';
            height: 9rem;
            width: 9rem;
            background-image: url(../images/ellipse.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: -3.5rem;
            left: 50%;
            margin-left: -4.5rem;
            z-index: 1;

            @media #media[tablet-query] {

            }
          }

          > .vertical-box {
            #mixin.box-shadow.main();
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            border-radius: 3px;
            padding: 0.7em 1em;
            background-color: white;
            border-radius: 3px;
            z-index: 2;

            @media #media[tablet-query] {

            }

            > figure {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 5rem;
              height: 5rem;
              flex-basis: 50%;

              > .ic-service {
                width: 5rem;
                height: 5rem;
                object-fit: contain;
              }

              > .ic-service-center {
                position: absolute;
                top: 1.7rem;
                left: 1.5rem;
                width: 2rem;
              }

              > .ic-free {
                position: absolute;
                width: 5rem;
                height: 5rem;
                object-fit: contain;
                z-index: 5;
                top: 0;
                left: 0;
              }

              > .ic-free-ring {
                position: absolute;
                top: -14%;
                left: 40%;
                width: 30%;
                height: 30%;
                z-index: 4;
              }

              > .ic-circle {
                position: absolute;
                width: 35%;
                height: 35%;
              }

              > .ic-circle-1 {
                top: -10%;
                left: 10%;
                animation-delay: 0.5s;
              }

              > .ic-circle-2 {
                top: -10%;
                right: 0;
                animation-delay: 1.0s;
              }

              > .ic-circle-3 {
                bottom: 10%;
                left: 10%;
                animation-delay: 1.5s;
              }

              > .ic-circle-4 {
                bottom: 10%;
                right: 0;
                animation-delay: 2s;
              }
            }

            > .text {
              color: #color[dark-blue];
              text-align: center;
              padding-top: 0.7em;
              line-height: 1.1rem;
              font-size: 0.6em;
            }
          }

          > &:last-child{
            > .vertical-box{
              &:before{display: none;}
            }
          }
        }

        > .box-separator {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          color: #color[yellow];

          @media #media[tablet-query] {
            position: relative;
            bottom: 1em;
          }
        }
      }
    }

    /* WE CREATED */
    > .created {
      #splash-layout.section();
      background-color: white;

      .flex-box-listing {
          margin-top: 6rem;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          @media #media[tablet-query] {
              flex-direction: column;
          }

          @media #media[mobile-query] {

          }

          > .horizontal-box {
              display: flex;
              flex-direction: row;
              width: 47%;
              margin-right: 3%;
              margin-bottom: 4.5rem;

              @media #media[tablet-query] {
                  width: 100%;
                  flex-direction: column;
                  margin-right: 0;
                  padding: 0.5em;
              }

              @media #media[mobile-query] {

              }

              > figure {
                  width: 27.5%;
                  height: 11rem;
                  margin-right: 2rem;

                  @media #media[tablet-query] {
                      width: 50%;
                      height: 50%;
                      margin: auto auto;
                  }

                  > img {
                      width: 100%;
                  }
              }

              > .text {
                  margin-top: 2em;
                  width: 52%;
                  text-align: left;

                  @media #media[tablet-query] {
                      width: 100%;
                      text-align: center;
                      line-height: 1.2em;
                  }


                  > h3 {
                      color: #color[purple];
                      font-size: 0.9rem;
                      font-weight: 700;
                  }

                  > p {
                      margin-top: 1rem;
                      line-height: 1.7rem;
                      font-size: 1rem;
                  }
              }
          }
      }
    }

    > .checkout {
      #splash-layout.section();
      #mixin.paper-1();
      margin-bottom: 5em;
      border-radius: 0;
      > .how-it-works-layout {
        > .button-listing {
          display: flex;
          margin: 0 0.3em;
          margin-top: 2em;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          > .button {
            padding: 0.5em;
            font-size: 0.8em;
            margin: 1em 0.5em;
            width: 180px;

            @media #media[tablet-query] {
              margin: 1em 0;
              border-radius: 0;
              font-size: 0.6em;

              &:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border-right: 1px solid white;
              }

              &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-left: 1px solid white;
              }
            }

            > .button-label {
              font-weight: 600;
            }
          }
        }

        > .card-transitions {
          @card-transition-delay: 0.2s;
          > .how-to-candidate , > .how-to-employer , > .how-to-arbiter {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-column-gap: 1.5em;
            margin: 1.5em;
            margin-top: 4em;
            transition: all @card-transition-delay;

            @media #media[desktop-query] {
              margin: 1em;
              margin-top: 3em;
              grid-column-gap: 1em;
            }

            @media #media[tablet-query] {
              grid-template-columns: repeat(2, 1fr);
              grid-row-gap: 1.5em;
            }

            > .how-to-card {
              position: relative;
              display: grid;
              grid-template-rows: 2fr 1fr;
              grid-template-columns: auto;
              background-color: #f7f6fe;
              padding: 0.7em;

              @media #media[desktop-query] {
                padding: 0.5em;
              }

              @media #media[tablet-query] {

              }

              &:before {
                content: '';
                width: 4.5rem;
                height: 7rem;
                position: absolute;
                background-size: 100%;
                background-position: center bottom;
                background-repeat: no-repeat;

                @media #media[tablet-query] {

                }
              }

              &:nth-child(2n) {
                margin-top: 2.5em;

                @media #media[tablet-query] {
                }

                &:before {
                  background-image: url(../images/svg/traces-yellow-v.svg);
                  bottom: -3.5rem;
                  right: -3.2rem;

                  @media #media[tablet-query] {
                    background-image: url(../images/traces-yellow-h.png);
                    bottom: -2em;
                    left: -3em;
                  }
                }
              }

              &:nth-child(2n+1) {
                margin-bottom: 2.5em;

                @media #media[tablet-query] {

                }

                &:before {
                  background-image: url(../images/svg/traces-blue-v.svg);
                  top: -4.5rem;
                  right: -3.5rem;

                  @media #media[tablet-query] {
                    background-image: url(../images/traces-blue-h.png);
                    top: -2em;
                    right: -3em;
                  }
                }
              }

              &:last-child:before {
                background-image: none;
              }

              > .image {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1em 0;
                > img {
                  display: block;
                  max-width: 80px;
                  max-height: 80px;
                  width: auto;
                  height: auto;

                  @media #media[desktop-query] {
                    max-width: 60px;
                    max-height: 60px;
                  }

                  @media #media[tablet-query] {
                    max-width: 80px;
                    max-height: 80px;
                  }
                }
              }

              > .label {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.6em;
                font-weight: 300;
                line-height: 2em;

                @media #media[desktop-query] {
                  font-size: 0.4em;
                }

                @media #media[tablet-query] {
                  font-size: 0.8em;
                }
              }
            }
          }
          > .how-card {
            &-enter-active {
              display: none;
              opacity: 0.0;
            }

            &-enter-done {
              display: grid;
              animation-fill-mode: forward;
              animation-name: fade-in;
              animation-duration: @card-transition-delay;
            }

            &-exit-active {
              opacity: 0.0;
            }

            &-exit-done {
              display: none;
            }
          }
        }
      }
    }
  }

  > .footer {
    background-color: #color[dark-blue];
    width: 100%;
    > .footer-content {
      display: grid;
      padding: 2em;
      padding-top: 6em;
      flex-direction: column;
      color: white;
      grid-template-areas:
      'header splash'
        'links  buttons'
        'footer footer';
      grid-template-rows: 4fr 4fr 30px;
      grid-template-columns: 4fr 3fr;
      max-width: #media[max-desktop-width];
      margin: 0 auto;

      @media #media[tablet-query] {
        grid-template-areas:
        'header'
          'links'
          'splash'
          'buttons'
          'footer';
        grid-template-rows: 1fr 1fr fit-content(100%) 80px 60px;
        grid-template-columns: 2fr;
        grid-row-gap: 2em;
        margin: 0;
      }

      /* footer sections */
      > .header-section {
        grid-area: header;
        text-align: left;
        > .logo {
          width: 120px;
          > .ethlance-logo {
              margin-bottom: 1.5em;
              > img {
                height: 2.5em;
                width: 120px;
              }
          }
        }

        > h2 {
            font-weight:200;
            font-size: 1.5em;
            margin: 1.5em 0;
        }

        > .fancy-email {
          display: flex;
          flex-direction: row;
          align-items: center;
          border-radius: 5px;
          background-color: white;
          overflow: hidden;
          max-width: 350px;
          padding: 0.3em;
          margin-bottom: 2em;

          > .form-input {
            outline: none;
            border: none;
            padding: 0.7em 0.5em;
            border-radius: 0;
            color: #color[dark-blue];
            font-weight: 300;
            flex-grow: 1;
          }

          > .form-button {
            padding: 0 0.5em;
            cursor: pointer;
          }
        }
      }

      > .splash-section {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: splash;
        > img {
          width: 80%;
          height: auto;
        }
      }

      > .links-section {
        grid-area: links;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        > .listing {
            display: flex;
            flex-direction: column;
            font-size: 0.8em;

            > .title {
              color: white;
              font-weight: bold;
              padding-bottom: 1em;
            }

            > a {
            position: relative;
              color: white;
              font-weight: 200;
              text-decoration: none;
              padding: 1em 0;
            transition: all 0.3s;

            > span {
              transition: border-bottom-color 0.3s;
              &::after {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0em;
                width: 50%;
                height: 1px;
                border-radius: 100%;
                opacity: 0.0;
                background-color: white;
                transition: all 0.3s;
              }
            }

            &:hover {
              > span {
                &::after {
                  opacity: 1.0;
                }
              }
            }
            }

            > .button-listing {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;

              > .ethlance-circle-button {
                margin: 0.5em;
                &:first {
                  margin-left: 0;
                }
              }
            }
        }
      }

      > .buttons-section {
        grid-area: buttons;
        display: flex;
        flex-direction: row;

        @media #media[tablet-query] {
          align-items: center;
          justify-content: space-around;
        }

        > .button {
            margin: 0.5em 0.5em;
          max-width: 120px;

            > .button-label {
              padding: 0.5rem;
              line-height: 1.5em;
              font-size: 0.8em;
              text-align: center;
              > span > b {
                font-weight: 700;
              }
            }

          &:hover {
            background-color: white;

            > .button-label > * {
              color: #color[dark-purple];
            }
          }
        }
      }

      > .footer-section {
        grid-area: footer;
        display: flex;
        align-items: center;
        font-size: 0.7em;
      }
    }
  }
}
