/// media.less - Main media queries

@media-max-width: 1280px;
@media-tablet-width: 720px;
@media-mobile-width: 420px;


#media() {
    tablet:    ~"only screen and (max-width: 720px)";
    mobile:    ~"only screen and (max-width: 420px)";
}
