{:paths ["src" "test" "resources" "src-cljsjs"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"},
  org.clojure/clojurescript {:mvn/version "1.11.60"},
  binaryage/devtools {:mvn/version "1.0.7"}

  re-frame/re-frame {:mvn/version "1.3.0"}
  reagent/reagent {:mvn/version "1.1.1"}

  is.d0x/cljs-web3-next {:mvn/version "LATEST"}
  is.d0x/cljs-ipfs-http-client {:mvn/version "LATEST"}
  is.d0x/cljs-solidity-sha3 {:mvn/version "LATEST"}
  is.d0x/re-frame-ipfs-fx {:mvn/version "LATEST"}
  is.d0x/district-validation {:mvn/version "LATEST" :exclusions [cljsjs/react-with-addons reagent/reagent com.cognitect/transit-js]}
  is.d0x/district-web3-utils {:mvn/version "LATEST"}
  is.d0x/district-ui-component-active-account {:mvn/version "LATEST" :exclusions [cljsjs/react-with-addons reagent/reagent com.cognitect/transit-js]}
  is.d0x/district-ui-component-active-account-balance {:mvn/version "LATEST" :exclusions [cljsjs/react-with-addons reagent/reagent com.cognitect/transit-js]}
  is.d0x/district-sendgrid {:mvn/version "LATEST"}
  is.d0x/district-ui-router {:mvn/version "LATEST" :exclusions [cljsjs/react-with-addons reagent/reagent com.cognitect/transit-js re-frame/re-frame]}
  is.d0x/district-ui-bundle {:mvn/version "LATEST"}
  is.d0x/ethlance-shared {:local/root "../shared"}

  district0x/async-helpers {:mvn/version "0.1.3"}
  district0x/error-handling {:mvn/version "1.0.4"}
  district0x/graphql-query {:mvn/version "1.0.6"}
  district0x/district-graphql-utils {:mvn/version "1.0.11"}
  district0x/bignumber {:mvn/version "1.0.3"}
  district0x/district-cljs-utils {:mvn/version "1.0.4"}
  district0x/district-encryption {:mvn/version "1.0.1"}
  district0x/district-format {:mvn/version "1.0.8"}
  district0x/district-parsers {:mvn/version "1.0.0"}
  district0x/district-time {:mvn/version "1.0.1"}

  district0x/district-ui-component-form {:mvn/version "0.2.13" :exclusions [cljsjs/react-with-addons reagent/reagent com.cognitect/transit-js]}
  district0x/district-ui-component-input {:mvn/version "1.0.0" :exclusions [cljsjs/react-with-addons reagent/reagent com.cognitect/transit-js]}
  district0x/district-ui-component-notification {:mvn/version "1.0.0" :exclusions [cljsjs/react-with-addons reagent/reagent com.cognitect/transit-js]}
  district0x/district-ui-component-tx-button {:mvn/version "1.0.0"
                                              :exclusions [district0x/district-ui-web3-accounts ; because it depends on old district0x.re-frame/web3-fx
                                                           cljsjs/react-with-addons reagent/reagent com.cognitect/transit-js]}
  district0x/district-ui-ipfs {:mvn/version "1.0.1" :exclusions [cljsjs/react-with-addons reagent/reagent com.cognitect/transit-js]}
  district0x/district-ui-logging {:mvn/version "1.1.0" :exclusions [cljsjs/react-with-addons reagent/reagent com.cognitect/transit-js]}
  district0x/district-ui-notification {:mvn/version "1.0.1" :exclusions [cljsjs/react-with-addons reagent/reagent com.cognitect/transit-js]}
  district0x/district-ui-now {:mvn/version "1.0.2" :exclusions [cljsjs/react-with-addons reagent/reagent com.cognitect/transit-js]}
  district0x/district-ui-router-google-analytics {:mvn/version "1.0.1" :exclusions [cljsjs/react-with-addons reagent/reagent com.cognitect/transit-js]}
  district0x/district-ui-server-config {:mvn/version "1.0.0"}

  district0x/district-ui-window-size {:mvn/version "1.0.1" :exclusions [cljsjs/react-with-addons reagent/reagent com.cognitect/transit-js]}
  district0x/district-ui-graphql {:mvn/version "1.0.15"}

  cljsjs/apollo-fetch {:mvn/version "0.7.0-0"}
  cljsjs/graphql {:mvn/version "0.13.1-0"}
  expound/expound {:mvn/version "0.8.4"}
  flib/simplebar {:mvn/version "5.0.7-SNAPSHOT"}
  funcool/bide {:mvn/version "1.7.0"} ; FIXME: district.ui.router requires it but older version is included by some other library
  funcool/cuerdas {:mvn/version "2022.06.16-403"}
  inflections/inflections {:mvn/version "0.14.1"}

  medley/medley {:mvn/version "1.3.0"}
  mount/mount {:mvn/version "0.1.16"}
  orchestra/orchestra {:mvn/version "2019.02.06-1"}
  org.clojars.mmb90/cljs-cache {:mvn/version "0.1.4"}
  org.clojure/core.match {:mvn/version "1.0.0"}
  org.clojure/tools.reader {:mvn/version "1.3.6"}
  print-foo-cljs/print-foo-cljs {:mvn/version "2.0.3"}

  mvxcvi/alphabase {:mvn/version "2.1.1"}
  akiroz.re-frame/storage {:mvn/version "0.1.4"}
  camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.1"}

  cljsjs/bignumber {:mvn/version "4.1.0-0"}
  cljsjs/buffer {:mvn/version "5.1.0-1"}
  cljsjs/d3 {:mvn/version "5.12.0-0"}
  cljsjs/react-infinite {:mvn/version "0.13.0-0"}
  com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
  com.rpl/specter {:mvn/version "1.1.3"}
  com.taoensso/timbre {:mvn/version "4.10.0"}
  day8.re-frame/forward-events-fx {:mvn/version "0.0.6"}
  day8.re-frame/http-fx {:mvn/version "0.1.6"}}

 :aliases
 {:shadow-cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.20.20"}},
   :main-opts ["-m" "shadow.cljs.devtools.cli"]}
  :local-deps
  {:override-deps
   {

    is.d0x/cljs-web3-next {:local/root "../../d0x-libs/shared/cljs-web3-next"}
    district0x/district-ui-graphql {:local/root "../../district-ui-graphql"}
    is.d0x/district-ui-bundle {:local/root "../../d0x-libs/browser/district-ui-bundle"}
    is.d0x/district-ui-router {:local/root "../../d0x-libs/browser/district-ui-router"}
    is.d0x/re-frame-web3-fx {:local/root "../../d0x-libs/browser/re-frame-web3-fx"}
    is.d0x/district-ui-web3-tx {:local/root "../../d0x-libs/browser/district-ui-web3-tx"}}}
  :dev
  {:extra-deps
   {day8.re-frame/re-frame-10x {:mvn/version "1.5.0"}
    day8.re-frame/tracing {:mvn/version "0.6.2"}
    re-frisk/re-frisk {:mvn/version "1.6.0"}
    ; Vim Iced deps
    refactor-nrepl/refactor-nrepl {:mvn/version "3.3.2"}
    cider/cider-nrepl {:mvn/version "0.28.2"}
    com.github.liquidz/iced-nrepl {:mvn/version "1.2.8"}}}}}
